.mainContainer {
    margin: auto;
}

@media only screen and (max-width: 1260px) {
    .mainContainer {
        max-width: 100%;
    }
}

@media only screen and (min-width: 1260px) {
    .mainContainer {
        max-width: 80%;
    }
}