.container {
    height: 300px;
    position: absolute;
    display: flex;
    right: 0;
    height: auto;
    min-width: 100%;
    z-index: 1;
    margin-top: 13px;
}

.list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.li {
    display: inline-block;
    width: 100%;
}

.link {
    display: block;
    color: black;
    text-align: center;
    padding: 10px 0px;
    text-decoration: none;
    font-weight: 500;
}

.link:active, .link:hover {
    color: white;
    background-color: black;
    text-decoration: none;
}

.navLinks {
    float: right;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.title {
    float: left;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .title {
        font-size: 16px;
    }
}