.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /*background-color: black;*/
    padding-top: 110px;
} 

.row {
    display: flex;
    width: 100%;
}

.card {
    display: flex;
    justify-content: center;
    border-radius: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin: 10px auto;
    text-align: center;
    padding: 10px;
}

.extLink {
    display: flex;
    align-items: center;
    color: #0E83B8;
    text-align: center;
    margin-left: 15px;
    font-size: 1rem;
}

.extLink:hover {
    text-decoration: underline;
    color: black;
    font-weight: 600;
}

@media only screen and (max-width: 500px) {
    .card {
        width: 95%;
    }

    .row {
        flex-direction: column;
    }
}

@media only screen and (min-width: 500px) {
    .card {
        width: 80%;
    }

    .row {
        flex-direction: column;
    }
}

@media only screen and (min-width: 1015px) {
    .card {
        width: 30%;
    }

    .row {
        flex-direction: row;
    }
}

@media only screen and (max-width: 1200px) {
    .container {
        padding-top: 80px;
    }
}

@media only screen and (min-width: 1450px) {
    .extLink {
        font-size: 1.2rem;
    }
}