.topMargin {
    height: 20px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.blue {
    color: #0E83B8;
}

.orange {
    color: #f17936;
}

.border {
    height: 10px;
    background-color: black;
    border: none;
    margin-top: 58px;
    border-radius: 70%;
}

@media only screen and (max-width: 600px) {
    .center {
        font-size: .6rem;
    }
}

@media only screen and (min-width: 600px) {
    .center {
        font-size: .8rem;
    }
}

@media only screen and (min-width: 800px) {
    .center {
        font-size: 1rem;
    }
}