.sectionHeader {
    color: #0E83B8;
    font-size: 5rem;
    margin-bottom: 20px;
    padding-top: 50px;
}

.sectionContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /*background-color: black;*/
}

.subHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    text-align: center;
}

.gray {
    color: gray;
}

.dates {
    font-family: Consolas;
    font-weight: 400;
    margin: 20px;
    text-align: center;
}

.jobDetails {
    text-align: center;
    font-weight: 300;
    color: #0E83B8;
}

.detailRow {
    display: flex;
    flex-direction: row;
}

.lisamDetailCard, .freelanceDetailCard {
    border-radius: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    text-align: justify;
    padding: 20px;
    margin: 20px auto;
    width: 30%;
}

.lisamDetailCard:hover {
    background-color: #0E83B8;
    color: white;
}

.cardHeader {
    text-align: center;
    margin: 0;
}

.frameworkUsed {
    color: gray;
    font-weight: 300;
}

.extLink {
   color: #0E83B8;
   text-align: center;
}

.extLink:hover {
    text-decoration: underline;
    color: black;
    font-weight: 600;
}

.cfaRow {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
}

@media only screen and (max-width: 400px) {
    .subHeader {
        font-size: 1rem;
    }

    .dates, .jobDetails {
        font-size: .9rem;
        margin: 5px;
    }

    .cardHeader, .extLink {
        font-size: .9rem;
    }

    .cardDescription {
        font-size: .8rem;
    }
}

@media only screen and (min-width: 400px) {
    .subHeader {
        font-size: 1.3rem;
    }

    .dates, .jobDetails {
        font-size: 1.2rem;
        margin: 5px;
    }

    .cardHeader, .extLink {
        font-size: 1rem;
    }

    .cardDescription {
        font-size: .9rem;
    }
}

@media only screen and (max-width: 600px) {
    .sectionHeader {
        font-size: 3rem;
    }
}

@media only screen and (min-width: 600px) {
    .subHeader {
        font-size: 2rem;
    }

    .dates, .jobDetails {
        font-size: 1.5rem;
        margin: 10px;
    }

    .cardHeader, .extLink {
        font-size: 1.2rem;
    }

    .cardDescription {
        font-size: 1.1rem;
    }
}

@media only screen and (max-width: 900px) {
    .detailRow {
        flex-direction: column;
        align-items: center;
    }

    .lisamDetailCard, .freelanceDetailCard {
        width: 95%;
        margin: 3px 0;
        padding: 10px;
    }
}

@media only screen and (min-width: 900px) {
    .lisamDetailCard, .freelanceDetailCard {
        height: 230px;
        padding: 20px;
    }
}