.sectionHeader {
    color: #0E83B8;
    font-size: 70px;
    margin-bottom: 20px;
}

.sectionContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /*background-color: black;*/
}

.subHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-bottom: 10px;
}

.gray {
    color: gray;
}

.dates {
    font-size: 1.5rem;
    font-family: Consolas;
    font-weight: 400;
    margin: 20px;
}

.jobDetails {
    font-size: 1.5rem;
    text-align: center;
    margin: 10px;
    font-weight: 300;
}

.detailRow {
    display: flex;
    flex-direction: row;
}

.detailCard {
    border-radius: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    text-align: justify;
    padding: 20px;
    margin: 20px;
}

.cardHeader {
    text-align: center;
    font-size: 1.2rem;
    margin: 0;
}